body {
    display: flex;
}

.sidebar {
    height: 100vh; /* Updated from 100% to 100vh */
    width: 25%;
    z-index: 1;
    background-color: rgb(48, 57, 67);
    overflow-x: hidden;
    overflow-y: auto; /* This allows the sidebar to scroll */
    padding: 0;
    font-family: "Times New Roman", Times, san-serif;
}

.main-content-wrapper {
    width: 74%;
    background-color: antiquewhite;
    padding-top: 50px
}

.test{
    color:white;
    margin-left:10px;
}

.profile {
    margin-top: 10px;
    width: 80%; /* Set the image width to 100% of the sidebar */
    height: auto; /* Set the height to auto to maintain the aspect ratio */
}

.introduction {
    padding-left: 10px;
}

img{
    border-radius: 1%
}

.Experience{
    margin-top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    width: 100%;
}

.Award{
    margin-top: 0;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 3%;
    padding-right: 3%;
    font-family: cursive;
    font-size: larger;
    width: 100%;
}

#About{
    margin: 5% 0% 0% 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px dotted black;
    padding: 20px;
    margin-right:30px;
}

#navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    opacity: 97%;
    background-color: #ffffff; /* Change this to the desired color */
    z-index: 2; /* Add a higher z-index to ensure the navigation stays on top */
}


body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#333;
}

#navigation li {
    float: left;
}
/* Each element in the navigation bar is center-aligned,
 the font color is white, and there is a gap between the text and the border of the navigation bar. */
#navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color when navbar is selected */
#navigation li a:hover {
    background-color:#555;
}
/* Change color when navbar is actived */
#navigation .active {
    background-color: gray;
}
