/* Set the position of the navigation bar to fixed and specify the top value */
#navigation {
    position: fixed;
    width: 100%;
    top: 0px;
    opacity: 97%;
    background-color: #ffffff; /* Change this to the desired color */
    z-index: 2; /* Add a higher z-index to ensure the navigation stays on top */
}

/* Adjust the margin-top value for the mt selector */
div#mt {
    padding-top: 50px; /* Adjust this value based on the height of your navigation bar */
    height: 100vh;
    box-sizing: border-box;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color:#333;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color when navbar is selected */
#navigation li a:hover {
    background-color:#555;
}
/* Change color when navbar is actived */
#navigation .active {
    background-color: gray;
} 
